/* Normal Buttons */
.btn-secondary {
	color: #fff;
	background-color: #999;
	border-color: #545b62;
}
.btn-secondary:focus {
    color:rgb(170, 170, 170);
    background-color: #fff;
    border-color: #999;
    box-shadow: 0 0 0 0 #fff;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
	color: #1693D7;
	background-color:#E8F4FB;
    border-color: #1693D7;
}
.btn-secondary:hover {
    color: rgb(170, 170, 170);
	background-color: #E8F4FF;
    border-color: #1693D7;
}
.btn-secondary.disabled, .btn-secondary:disabled, .btn-secondary.disabled:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn, btn, input[type="submit"], input[type="reset"], input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: rgb(170, 170, 170);
    text-align: center;
    border-radius: 20px;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: capitalize;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 252, 252, 0.5);
}

/* Turn on/off button  */
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #1693D7;
  background-color:#1693D7;
}