.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
	background: #1693D7;
	border: 1px double   rgb(221, 221, 221);
	color: #fff;
}
.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
	background: #1693D7;
	border: 1px double #1693D7;
	color:  rgb(170, 170, 170);
}
.CalendarDay__selected_span {
	background: #E8F4FB;
	border: 1px double  rgb(221, 221, 221);
	color: #1693D7;
}


.DateInput_input__focused {
	outline: 0;
	background: #fff;
	border: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 2px solid #003262;
	border-left: 0;
}