.Select-control {

    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #1693D7;
    color: #333;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    overflow: hidden;

}
.Select--multi .Select-value-icon {
	cursor: pointer;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-right: 1px solid #545455;
	border-right: 1px solid rgba(60, 63, 66, 0.24);
	padding: 1px 5px 3px;
}

.Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
}
.Select--multi .Select-value {
    background-color: #ffffff;
    background-color: #E8F4FF;
    border-radius: 2px;
    border: 1px solid #1693D7;
    color:#1693D7;
    display: inline-block;
    font-size: .9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;

}
.Select-menu-outer {
    background-color: whitesmoke;
}
.Select--multi .Select-multi-value-wrapper, .Select-arrow {
    display: inline-block;
    background-color: whitesmoke;
}
.Select--multi .Select-clear-zone {
    width: 17px;
    background-color: whitesmoke;
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: whitesmoke;
}