body {
    font-family: sans-serif;
}
label {
    color: rgb(43, 43, 43);
    font-weight: lighter;
    font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
    color: black
}

text[style*="font-size: 9px"] {
    font-size: 0 !important;
}
.br-2 {
   display: block;
   margin: 4% 0;
}